@page
@model lmsextreg.Pages.Admin.UpdateModel


<h1 class="text-center">@Model.AppUser.FirstMiddleLastName</h1>
<div class="container">
    <div class="card mx-auto w-75">
        <div class="card-body pb-0">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="userFirstName" class="mb-0">First Name:</label>
                    <div>@Model.AppUser.FirstName</div>
                </div>
                <div class="form-group col-md-4">
                    <label for="userMiddleName" class="mb-0">Middle Name:</label>
                    <div class="bg-danger mb-0">@Model.AppUser.MiddleName</div>
                </div>
                <div class="form-group col-md-4">
                    <label for="userLastName" class="mb-0">Last Name:</label>
                    <div>@Model.AppUser.LastName</div>
                </div>
            </div>
            <div class="form-row border-top pt-3 bg-light">
                <div class="form-group col-md-6">
                    <label for="userFirstName" class="mb-0">Email Address:</label>
                    <div>@Model.AppUser.Email</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="userLastName" class="mb-0">Job Title:</label>
                    <div>@Model.AppUser.JobTitle</div>
                </div>
            </div>
            <div class="form-row border-top pt-3">
                <div class="form-group col-md-6">
                    <label for="userFirstName" class="mb-0">Agency:</label>
                    <div>@Model.AppUser.SubAgency.Agency.AgencyName</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="userMiddleName" class="mb-0">Sub-Agency:</label>
                    <div>@Model.AppUser.SubAgency.SubAgencyName</div>
                </div>
            </div>
            <div class="form-row border-top pt-3 bg-light">
                <div class="form-group col-md-4">
                    <label for="userFirstName" class="mb-0">Date Registered:</label>
                    <div>@Model.AppUser.DateRegistered</div>
                </div>
                <div class="form-group col-md-4">
                    <label for="userMiddleName" class="mb-0">Date Account Expires:</label>
                    <div>@Model.AppUser.DateAccountExpires</div>
                </div>
                <div class="form-group col-md-4">
                    <label for="userLastName" class="mb-0">Date Password Expires:</label>
                    <div>@Model.AppUser.DatePasswordExpires</div>
                </div>
            </div>
            <div class="form-row border-top pt-3 pb-0">
                <div class="form-group col-md-4">
                    <label for="userFirstName" class="mb-0">Account Locked:</label>
                    <div>@Model.AppUser.IsLockedOut</div>
                </div>
                <div class="form-group col-md-4">
                    <label for="userMiddleName" class="mb-0">Email Confirmed:</label>
                    <div>@Model.AppUser.EmailConfirmed</div>
                </div>
                <div class="form-group col-md-4">
                    <label for="userLastName" class="mb-0">Two Factor Enabled:</label>
                    <div>@Model.AppUser.TwoFactorEnabled</div>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center mt-3">Available Actions</h2>
<div class="container w-75">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Unlock Account</h5>
                    <p class="card-text">User will be able to login once their account has been unlocked.</p>
                    <a href="#" class="btn btn-primary">Unlock</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Confirm Email Address</h5>
                    <p class="card-text">User will be able to move forward with the registration process once their email address has been confirmed.</p>
                    <a href="#" class="btn btn-primary">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>